@font-face {
    font-family: SanFrancisco;
    src: url('./fonts/SF-Pro-Display-Regular.otf');
}


html {
    background-color: #000000;
    font-family: SanFrancisco;
}

.calculator {
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 58px;
    text-align: center;
    width: 100%;
}

.calculator span {
    color: #fc7e4f;
    font-weight: bold;
}

.calculator p {
    margin: 10px 0;
    text-align: center;
}

.calculator input {
    font-size: 58px;
    color: #fc7e4f;
    background:rgba(0,0,0,0);
    border:none;
    text-align: left;
    font-weight: bold;
}
.calculator input {
 
    resize: horizontal;
    width: 130px;
}

/* .calculator input:active {
    width: auto;
} */

.calculator input:focus {
    min-width:100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*:focus {
    outline: none;
}

.break-line {
    display: none;
}

.switch {
    background-image: url('./images/arrow_down.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.switch2 {
    background-image: url('./images/switch.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.calc {
    background-image: url('./images/calc.png');
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 30px;
    height: 100px;
    width: 70px;
}
#textCalc {
    width: 220px;
}

 #setPeriod, #totalPer,  #cal2SumPeriod, 
  #cal2PartPeriod {
    cursor: pointer;
}
#sell,#sell2, #textCalc, #cal2TextCalc,#cal2ExpectedSum, #cal2ExpectPeriod, #expectPeriod, cal2UpdateText {
    cursor: text;
}

#expectedSum, #cal2ExpectedSum, #cal2ExpectPeriod {
    width: 150px;
}

/* #expectPeriod {
    min-width: 80px !important;
} */

#cal2ExpectPeriod {
    min-width: 70px !important;
}

#cal2TextCalc {
    min-width: 200px;
}
#expectPeriod {
    width: 70px ;
}
#flex {
    display: flex;
}
#inner {
    padding: 0 20px;
    min-width: 100px;
    height:30px;
    outline:none;
    background-color: #dfd4d7;
}

@media screen and (max-width: 600px) {
    .calculator {
        font-size: 40px;
    }

    .calculator input:focus {
        min-width:70px;
    }

    #cal2ExpectPeriod {
        min-width: 50px !important;
    }

    .break-line {
        display: block;
    }

    .calculator {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: none;
        color: #ffffff;
        font-size: 40px;
        text-align: left;
        margin-top: 10%;
    }

    .calculator p {
        text-align: left;
    }

    .calculator input {
        text-align: left;
        width: 100px;
        font-size: 40px;
    }

    .switch, .switch2 {
        top: 90% !important;
    }

    #expectedSum, #cal2ExpectedSum, #cal2ExpectPeriod {
        width: 100px;
    }
    
    .calculator p {
        margin: 0;
    }
  }

  @media screen and (max-width: 321px) {
    .calculator {
        font-size: 38px;
    }

    .calculator {
        font-size: 38px;
    }


    .calculator input {
        font-size: 38px;
    }

    #textCalc {
        width: 150px;
    }

    #expectPeriod {
        width: 50px;
    }

    .switch, .switch2 {
        top: 90% !important;
    }
  }